.art-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
  }

  .art-container img {
    width: 100%;
    height: 100%;
    align-self: center;
    border-radius: 20px;
    transform: scale(1);
    /* box-shadow: 0px 0px 10px 10px rgb(212 8 140 / 60%); */
    box-shadow: 0px 0px 10px 10px rgb(0 0 31 / 60%);
    transition: all 0.2s linear;
  }

  .art-container img:hover {
    transform: scale(1.05);
    transition: all 0.2s linear;
  }

  .art-container .title3 {
    text-align: center;
    font-size: 40px;
    margin-bottom: -10px;
    font-family: brlnsr;
    color: white;
  }

  .art-content {
    /* height: 300px; */
    /* background: linear-gradient(0deg, rgba(141, 19, 155, 0.7) 0%, rgba(255, 255, 255, 0) 100%); */
    background: linear-gradient(0deg, rgba(0, 0, 31, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
    border-radius: 0px;
    /* margin-top: 10px; */
    font-size: 20px;
    padding: 10px 20px 20px 20px;
  }

  .art-content .member-name {
    font-size: 30px;
  } 
  .art-content span {
    font-size: 20px;
  }

  .art-content .row {
    flex-direction: row;
  }

  @media only screen and (max-width: 1024px) {
    .art-content .row:nth-child(3),
    .art-content .row:nth-child(5) {
      flex-direction: column-reverse;
    }
  }